
h1 {
    color:rgb(76, 0, 255);
}
div {
    width: 100%;
    max-width: 200px;
    height: 100vh;
    border: 10px solid black;
    margin: 5%;
    font-size: 12px;
    font-weight: 600;
    font-family: Roboto;
}